@import './_mixins.scss';
@import './_variables.scss';
@import './utils.scss';
@import './plugins.scss';
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import 'vue-select/src/scss/vue-select.scss';

* {
  background: transparent;
  padding: 0;
  margin: 0;
  border: 0;
  outline: none;
  text-decoration: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  position: relative;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  line-height: 1.65;
  color: $foreground-color;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.auth-form {
  max-width: 600px;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: inherit;

  &:hover {
    color: inherit;
    text-decoration: none;
  }
}

h1 {
  font-size: 1.4rem;
  font-weight: 700;
}

h2 {
  font-size: 2.2rem;
  font-weight: 700;
}

hr {
  border-top: 1px solid #a1a1aa;
}

.sub-title {
  color: #27272a;
  font-size: 1.1rem;
  font-weight: 700;
}

/* .Buttons */

.btn {
  padding: 0.5rem 1.5rem;
  border-radius: 4px;

  &:focus {
    box-shadow: none;
  }

  &:hover {
    transform: scale(1.01);
  }
}

.btn-full {
  background: #f0a600;
  border: 1px solid #f0a600;
  color: #1e1e1e;

  &:focus {
    background: #f0a600;
    color: #1e1e1e;
  }
  &:hover {
    background-color: transparent;
    color: #f0a600;
    border-color: #f0a600;
    transform: scale(1.005);
  }
}

.btn-outline,
.btn-outline-gray {
  font-weight: 400;
  border: 1px solid #f97316;
  background-color: transparent;
}

.btn-outline-gray {
  border-color: #52525b;
}

.btn-gray {
  background: #f4f4f5;
  border: 1px solid #f4f4f5;
}

// button states
.btn-multiple-state {
  background: $theme-color-2;
  border: 1px solid $theme-color-2;
  color: #fff;
  position: relative;
  transition: opacity 500ms;

  &:hover {
    color: #fff;
  }

  .spinner,
  .icon {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    opacity: 0;
    visibility: hidden;
    top: 50%;
    transform: translateY(-50%);
    transition: opacity 500ms;
    color: $theme-color-2;
  }

  .icon i {
    vertical-align: text-bottom;
    font-size: 18px;
  }

  .label {
    transition: opacity 500ms;
  }

  &.show-spinner {
    .label {
      opacity: 0;
    }

    .spinner {
      opacity: 1;
      visibility: visible;
    }
  }

  &.show-success {
    .label {
      opacity: 0;
    }

    .icon.success {
      opacity: 1;
      visibility: visible;
    }
  }

  &.show-fail {
    .label {
      opacity: 0;
    }

    .icon.fail {
      opacity: 1;
      visibility: visible;
    }
  }

  &.btn-primary:disabled {
    opacity: 1;
    background: darken($theme-color-1, 10%);
    border-color: darken($theme-color-1, 10%);
  }

  &.btn-secondary:disabled {
    opacity: 1;
    border-color: darken($theme-color-2, 10%);
  }
}

/* .Cards */

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  // background-color: #fafafa;
  background-clip: border-box;
  box-shadow: 0px 0px 10px -10px rgba(0, 0, 0, 0.2);
  border: none;
  border-radius: 15px;
  font-size: 0.9rem;

  .card-text {
    color: #71717a;
    font-weight: 700;
    font-size: 1rem;
  }

  .title {
    color: #71717a;
    font-weight: 700;
  }
  .timestamp {
    color: #a1a1aa;
    font-size: 0.7rem;
  }
  .value {
    font-size: 2rem;
    color: #3f3f46;
    font-weight: 700;
  }
}

.pink-card {
  background: #fff7ed;
}

.blue-card {
  background: #eff6ff;
}

.violet-card {
  background: #eef2ff;
}

.green-card {
  background: #f0fdf4;
}

.red-card {
  background: #fef2f2;
}

/* .Texts */

.text-danger {
  color: #dc2626 !important;

  margin-top: 0.25rem;
  font-size: 0.875em;
}

.text-success {
  color: #16a34a !important;
}

.primary-text {
  color: $theme-color-2;
}

.text-small {
  font-size: 0.8rem;
}

.text-orange {
  color: #f97316;
}

.font-bold {
  font-weight: 700;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
  grid-auto-rows: auto;
  grid-gap: 1rem;
}

.initials {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-weight: 700;
  font-size: 0.8rem;
  width: 32px;
  height: 32px;
  border-radius: 100%;
  background: #f97316;
  text-transform: uppercase;
}

/* Input */
.form-group {
  label {
    display: inline-block;
    margin-bottom: 0.5rem;
    font-weight: 700;
  }
}

.form-control {
  padding: 0.575rem 0.75rem;
  height: 40px;
  &:focus {
    color: #212529;
    background-color: #fff;
    // border-color: #ef4444;
    outline: 0;
    box-shadow: none;
  }
}

.currency {
  width: 60px;
  padding-right: 0;
  border-right: none;
  border-radius: 0.25rem 0 0 0.25rem;
}

.is-invalid {
  .country-code,
  .vue-country-select,
  .currency,
  .quillWrapper,
  .vs--searchable .vs__dropdown-toggle,
  .vs--searchable .vs__dropdown-toggle {
    border-color: #ef4444 !important;
  }
}

.form-control:disabled,
.form-control[readonly] {
  background-color: inherit;
  opacity: 1;
}

/* Spinner */
.spinner {
  width: 36px;
  text-align: center;
}

.spinner > span {
  width: 6px;
  height: 6px;
  background-color: #fff;
  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.2s infinite ease-in-out both;
  animation: sk-bouncedelay 1.2s infinite ease-in-out both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
  0%,
  80%,
  100% {
    -webkit-transform: scale(0);
  }

  40% {
    -webkit-transform: scale(1);
  }
}

@keyframes sk-bouncedelay {
  0%,
  80%,
  100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }

  40% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

.country-code {
  border-radius: 0;
  border-right: none;
  border-left: none;
  width: 45px;
  padding-left: 0;
  padding-right: 0;
}

/* remove arrows and spinners from input field Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

.phone-no {
  border-left: none;
  border-radius: 0 0.25rem 0.25rem 0;
  padding-left: 0;
}

table {
  caption-side: bottom;
  border-collapse: collapse;
  font-size: 0.8rem;
  text-align: center;
  font-weight: 500;
  color: #71717a !important;
}

.onboarding-container {
  padding-left: 350px;
}

.filter {
  background: #e4e4e7;
  border-radius: 10px;
  border-color: #e4e4e7;
  padding: 0 0.5rem;
  align-items: center;

  .form-control {
    background: #e4e4e7;
    border-radius: 10px;
    border-color: #e4e4e7;
    padding: 0.5rem;
  }

  .input-group-append {
    padding: 0.5rem;
  }
}

.filter-btn {
  border: 1px solid #000000;
  border-radius: 5px;
}

.close-btn {
  color: #a1a1aa;
  font-weight: 700;
  font-size: 0.85rem;
}

.contest {
  color: #fff;
  font-size: 0.75rem;
  // height: 60%;
  .contest-card {
    background: #000000;
  }
  p {
    font-size: 1rem;
    font-weight: 700;
  }

  .progress {
    height: 8px;
    background: #27272a;
    border-radius: 2px;
    .progress-bar {
      background: #f97316;
    }
  }

  .more {
    font-size: 0.7rem;
    font-weight: 500;
    color: #f97316;
  }

  .countdown {
    background: #fff;
    color: #000;
    font-weight: 700;
    font-size: 2.4rem;
    padding: 0.35rem 0.6rem;
    width: 70px;
  }
}

/* .Notifications */

div[data-notify='container'] {
  padding: 18px;
}

.notification-container {
  box-sizing: border-box;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 999999;
  // width: 320px;
  // padding: 0px 15px;
  max-height: calc(100% - 30px);
  overflow-x: hidden;
  overflow-y: auto;
}

.notification {
  box-sizing: border-box;
  padding: 5px 5px 5px 58px;
  border-radius: 0;
  cursor: pointer;
  font-size: 1rem;
  line-height: 1.2em;
  position: relative;
  opacity: 0.9;
  text-align: center;
  // margin-top: 10px;
}

.notification .title {
  font-size: 1em;
  line-height: 1.2em;
  font-weight: bold;
  margin: 0 0 5px 0;
}

.notification:hover,
.notification:focus {
  opacity: 1;
}

.notification-enter {
  visibility: hidden;
  transform: translate3d(100%, 0, 0);
}

.notification-enter.notification-enter-active {
  visibility: visible;
  transform: translate3d(0, 0, 0);
  transition: all 0.4s;
}

.notification-leave {
  visibility: visible;
  transform: translate3d(0, 0, 0);
}

.notification-leave.notification-leave-active {
  visibility: hidden;
  transform: translate3d(100%, 0, 0);
  transition: all 0.4s;
}

.notification {
  // border-radius: $border-radius;
  // @include depth(1);
  padding: 18px 18px 18px 18px;
}

.notification:before {
  content: '';
  display: none;
}

.notification-primary {
  color: $theme-color-1;
  background-color: $foreground-color;
  border: 1px solid $theme-color-1;
  opacity: 1;

  .notification-message {
    .title {
      color: $theme-color-1;
    }

    .message {
      color: $primary-color;
    }
  }

  &.filled {
    color: $foreground-color;
    background-color: $theme-color-1;

    .notification-message {
      .title {
        color: $foreground-color;
      }

      .message {
        color: $foreground-color;
      }
    }
  }
}

.notification-secondary {
  color: $theme-color-2;
  background-color: $foreground-color;
  border: 1px solid $theme-color-2;
  opacity: 1;

  .notification-message {
    .title {
      color: $theme-color-2;
    }

    .message {
      color: $secondary-color;
    }
  }

  &.filled {
    color: $foreground-color;
    background-color: $theme-color-2;

    .notification-message {
      .title {
        color: $foreground-color;
      }

      .message {
        color: $foreground-color;
      }
    }
  }
}

.notification-info {
  color: $info-color;
  background-color: $foreground-color;
  border: 1px solid $info-color;
  opacity: 1;

  .notification-message {
    .title {
      color: $info-color;
    }

    .message {
      color: $secondary-color;
    }
  }

  &.filled {
    color: $foreground-color;
    background-color: $info-color;

    .notification-message {
      .title {
        color: $foreground-color;
      }

      .message {
        color: $foreground-color;
      }
    }
  }
}

.toast-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0.25rem 0.75rem;
  color: #6c757d;
  background-color: rgba(255, 255, 255, 0.85);
  background-clip: padding-box;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

.notification-success {
  color: $success-color;
  background-color: rgba(212, 237, 218, 0.85);
  border-bottom-color: rgba(195, 230, 203, 0.85);
  border: 1px solid #b5cebb;
  opacity: 1;

  .notification-message {
    .title {
      color: $success-color;
      font-weight: 700;
    }

    .message {
      color: #155724;
    }
  }

  &.filled {
    color: $foreground-color;
    background-color: $success-color;

    .notification-message {
      .title {
        color: $foreground-color;
      }

      .message {
        color: $foreground-color;
      }
    }
  }
}

.notification-warning {
  color: $warning-color;
  background-color: $foreground-color;
  border: 1px solid $warning-color;
  opacity: 1;

  .notification-message {
    .title {
      color: $warning-color;
    }

    .message {
      color: $secondary-color;
    }
  }

  &.filled {
    color: $foreground-color;
    background-color: $warning-color;

    .notification-message {
      .title {
        color: $foreground-color;
      }

      .message {
        color: $foreground-color;
      }
    }
  }
}

.notification-error {
  color: $error-color;
  background-color: rgba(248, 215, 218, 0.85);
  border-bottom-color: rgba(245, 198, 203, 0.85);
  border: 1px solid #ddb0b4;
  opacity: 1;

  .notification-message {
    .title {
      color: $error-color;
      font-weight: 700;
    }

    .message {
      color: $error-color;
    }
  }

  &.filled {
    color: $foreground-color;
    background-color: $error-color;

    .notification-message {
      .title {
        color: $foreground-color;
      }

      .message {
        color: $foreground-color;
      }
    }
  }
}

@media (max-width: 768px) {
  .onboarding-container {
    padding-left: initial;
  }
  .table {
    text-align: inherit;
  }
}
